<%=form_for message, remote: true, authenticity_token: true do |f|%>
  <%= f.label :your_moms_message%>:
  <%= f.text_area :content, class: "form-control", data: {textarea: "message"}%>

  <%= f.hidden_field :chatroom_id, value: chatroom.id %>
  <%= f.hidden_field :current_user_id, value: User.first.id %>
  <%= f.submit "send", class: "btn btn-primary", data: {send: "message"}%>
<%end%>