<% if @current_user %>
  Hi <%= @current_user.username %>
<% else %>
  Bye
<% end %>
<%= form_tag (login_path) do %>
  
  <div class="field">
    <%= label_tag :username %><br>
    <%= text_field_tag :username %>
  </div>
  <div class="actions">
    <%= submit_tag "Login" %>
  </div>
  
<% end %>