
<div class="jumbotron" style="height:500px; background-image: url(fancy3.jpg); background-repeat: no-repeat; background-size: 100% 100%; ">
<span ><h1>Listing Games</h1></span>
<button>
<a class="btn" role="button" href="https://www.youtube.com/watch?v=C97mCg9AxZc">How to play codenames</a>
</div>
<% if @games %>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th># of players
        <th colspan="3"></th>
      </tr>
    </thead>
  <tbody> 
  <% @games.each do |game|%>
   <tr>
     <td><%= game.id%></td>
     <td><%= game.description %></td>
     <td><%= game.game_memberships.size %></td>
     <td><%= link_to 'Show', game %></td>
  
   </tr>
  <% end %>
  </tbody> 
  </table>

<br/>
<%= link_to 'New Game', new_game_path %>
<br/>
<% end %>

<div>
</div>
