<p><%= notice %></p>
<div class="row">
  <div class="col-md-9 col-sm-9">
  <div id="grid" style="float:left">
  
    
  <table id="lolgrid">


<% @game.game_guesses.sort_by(&:slot).each_slice(5) do |slice| %>
  <tr>
    <% slice.each do |gg| %>
      <td id="poke_<%= gg.pokemon_id%>" class="pokecard <%= gg.display_class%>" >
        <img src="/<%= gg.pokemon_id%>.png">
        <% if !@clueword_form %>
        <%= form_for @game, :method => 'put' do |g| %>
        
          <input type="text" value="<%= gg.pokemon_id %>" name="poke_id" id="poke_id" hidden="true">
          <input type="submit" <%= @allow_guess %>>
        <% end %>
        <% end %>
        </td>
    <% end %>
  </tr>
<% end %>

  </table>
  </div>
  </div>
  <div class="col-md-3 col-sm-3">
  <div id="status" style="height:400px">
  
  <% if @game.ready? %>
    <div id="gamestatus">
    Current player:
    <span class="currentcolor">
    <%= @game.current_color_turn %>
    <%= @game.current_phase %>
    </span>
    </div>
  <% end %>

  <%= zomg %>
  <% if @clueword_form %>
    <%= form_for @game, :method => 'put' do |g| %>
      Enter your clue here:
      <input type="text" name="clueword" id="clueword" <%= @enabled_buttons %>>
      <br/>
      Enter your integer guesses here:
      <input type="text" name="guesses" id="guesses" maxwidth="3" <%= @enabled_buttons %>>
      <input type="submit" <%= @enabled_buttons %>> 
    <% end %>
  <% end %>
    <br/>
    <h3> Your clue is: 
      <span class="clueword">
    <%= @game.current_clueword %>
    </span>
    </h3>
    <br/>
    <h3> Your remaining guesses are:
      <span class="guessesremaining">
      <%= @game.current_guesses_remaining %>
      </span>
    </h3>
    <br/>
    <span class="whoadude"><h3></h3></span>
  
  <div id="messages">
  </div>
  </div>
</div>

<div>
  <% if @grid_priv %>
    <table>
    <% @game.game_guesses.sort_by(&:slot).each_slice(5) do |slice| %>
      <tr>
        <% slice.each do |gg| %>
          <td class="mini-display <%= gg.true_color%>" ></td>
        <% end %>
      </tr>
    <% end %>
    </table>
  <% else %>
  <% end %>
  <br/>
  <ul>

<% @game.game_memberships.each do |gm| %>
  
  <li><%= gm.user.username %> is enrolled as <%= gm.team_color %> <%= gm.role %></li>
<% end %>
  </ul>
<% if !@game.ready? and @current_user and !@game.has_user?(@current_user)%>
  
  <%= form_tag(game_enroll_path(@game), method: :post) do %>
    <%= select_tag(:requested_opt, options_for_select([''] + @game.available_opts)) %>
    <%= submit_tag 'Join game'  %>
  <% end %>
<% end %>
</div>
</div>